.data{
    width: 33.33%;
    float: left;
}

.content{
    width: 100%;
    float: left;
}

.pie{
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}

.title{
    text-align: center;
}